body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: darkred;
}

#menu ul li:hover{
    background: darkred;
}

.button-more{
    background: darkred;
}